[Unit]
Description=Save Caddy's certificates to the installation's bucket for them
After=spin-proxy.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/spin-proxy-certificates save
